---
layout: page
title: Rreth nesh
permalink: /sq/about-us/
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="block">
          <h1 class="animated text-center fadeInUp">FLOSSK</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
<h2>Fushat e veprimtarisë</h2>

<p>Organizimi i konferencave, punëtorive dhe ngjarjeve kulturore në fushën e teknologjisë informative dhe kulturës dhe dijes së hapur.</p>

<p><strong>Grupet e synuara</strong></p>

<p>Komuniteti i teknologjisë, studentët e fakulteteve të teknologjisë aktivistët e dijes dhe kulturës së hapur.</p>

<p><strong>Sfondi</strong></p>

<p>FLOSSK ka filluar aktivitetet në mars të vitit 2009 si iniciativë e aktivistit James Michael DuPont me qëllim të organizimit të konferencës ndërkombëtare të Softuerit të Lirë dhe të Hapur (Free and Open Source Software). Pas gjashtë muajsh të një angazhimi shembullor nga mbështetës të shumtë kosovar dhe ndërkombëtarë u mbajt konferenca e parë në gusht të vitit 2009, e cila doli të jetë konferenca më e madhe në rajon.</p>

<p>Përveç Konfererencës tashmë tradicione SFK (Software Freedom Kosova), FLOSSK ka vazhduar me aktivitete tjera të shumta si organizimi vjetor i ditëve ndërkombëtare të Lirisë së Souftuerit (Software Freedom Days), ligjerata publike në temën e Softuerit të Lirë dhe të Hapur, por edhe të shkencës në përgjithësi. Vend të rëndësishëm tematik në këto aktivitet zënë ato të lidhura me OpenStreetMap që ka të bëjë me hapjen dhe popullimin e të dhënave gjeografike GIS, si dhe tema të lidhura me dijen e hapur dhe me Wikipedia.</p>

<p><strong>Misioni</strong></p>

<p>FLOSSK është organizatë jo-qeveritare dhe jo-fitimprurëse që angazhohet për:</p>

<ol>
<li>Softuerin e Lirë dhe të Hapur siç definohet nga Free Software Foundation;</li>

<li>Softuerin me kod burimor të hapur (Open Source Software) siç definohet nga Open Source Initiative;</li>

<li>Dijen e hapur dhe participuese si ajo që përkrahet nga Wikimedia Foundation;</li>

<li>Edukimin për teknologji dhe shkencë përmjet kurseve të hapura;</li>

<li>Standardet, kulturën dhe shoqërimin e hapur përmjet shfrytëzimit të sistemeve të hapura të komunikimit të përkrahura nga W3C and Creative Commons.</li>
</ol>

<p><strong>Qëllimet</strong></p>

<p>Për të përmbushur misionin e vet shoqata FLOSSK zhvillon aktivitete si në vijim:</p>

<ol>
<li>Konferencën vjetore të hapur për publikun me koston më të ult të pjesëmarrjes.</li>

<li>Ndërmjetësimin e dijes rreth përdorimit të softuerit të lirë dhe të hapur duke ofruar përkthimin dhe lokalizimin e distribuimit.</li>

<li>Bashkëpunimin me partnerë vendorë dhe ndërkombëtarë nga industria, akademia e qeveria që janë të interesuar për promovimin e vlerave të shoqatës.</li>

<li>Organizimin e trajnimeve dhe kurseve.</li>
</ol>

<p><strong>Antarësia dhe Kryesia e shoqatës</strong></p>

<p>FLOSSK dhe Prishtina Hackerspace si hapësirë bashkëpunuese numrojnë mbi 25 vullnetarë që kontribuojnë në projektet e shoqatës</p>

<p><em>Bordi ekzekutiv</em></p>

<ul>
<li><p><a href="arianit.dobroshi@flossk.org">Arianit Dobroshi</a>, kryetar</p></li>

<li><p><a href="bresta@flossk.org">Shkumbin Brestovci</a>, anëtar </p></li>

<li><p><a href="altin.ukshini@flossk.org">Altin Ukshini</a>, anëtar</p></li>

<li><p><a href="besiguri@gmail.com">Besfort Guri</a>, anëtar</p></li>

<li><p><a href="islamivioleta@gmail.com">Violeta Islami</a>, anëtare </p></li>
</ul>

<p><strong>Partnerët dhe Donatorët</strong></p>

<ul>
<li><p><a href="https://pristina.usembassy.gov/">US Embassy Pristina</a> </p></li>

<li><p><a href="www.ipkofoundation.org">IPKO Foundation</a> </p></li>

<li><p><a href="www.kosovoinnovations.org">UNICEF Innovations Lab Kosovo</a> </p></li>

<li><p><a href="http://www.mkrs-ks.org/?page=1,130">Instituti për Mbrotjen e Monumenteve (MKRS)</a> </p></li>

<li><p><a href="http://www.stikk.org/">Shoqata e Teknologjisë së Informacionit dhe Telekominikimit të Kosovës</a> </p></li>

<li><p><a href="https://fiek.uni-pr.edu/default.aspx">Fakulteti i Inxhinierisë Elektrike dhe Kompjuterike - UP</a></p></li>

<li><p><a href="www.ickosovo.com">Innovation Centre Kosovo</a></p></li>

<li><p><a href="http://kosovo.rit.edu/">RIT Kosovo (AUK)</a></p></li>

<li><p><a href="www.kund-er.org">Kosovo Center for Transparency, Accountability and Anti-Corruption - Kund 16</a></p></li>

<li><p><a href="www.openlabs.cc">Open Labs Albania, (Tiranë)</a> </p></li>

<li><p><a href="http://b10g.spodeli.org/">KIKA Hacklab (Shkup)</a> </p></li>
</ul>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
           
        </div>
    </div>
  </div>
</section>