<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>FLOSSK<br /><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></p>
      </div>
    </div>
  </div>
</footer>
<script>
  var pathName = window.location.pathname;
  if(pathName.indexOf("/sq/") == -1){
    if(pathName.indexOf("/en/") == 1){
      document.getElementById("langtosq").setAttribute("href","/sq"+pathName.substring(3));
    }else{
      document.getElementById("langtosq").setAttribute("href","/sq"+pathName);
    }
    document.getElementById("langtoen").parentNode.removeChild(document.getElementById("langtoen"));
  }else{
    document.getElementById("langtoen").setAttribute("href",pathName.substring(3));
    document.getElementById("langtosq").parentNode.removeChild(document.getElementById("langtosq"));

  }
</script>
